*.obj
*.Debug
*.Release
Makefile
Makefile.*
*.libsdl2
*.pdb
*.ilk
src/Makefile
Makefile
*.tlog
*.log
*.idb
*.opensdf
*.sdf
*.suo
*.exe
*.exp
gridminer.pro.user
3rdParty/libsdl2.vcxproj.user
3rdParty/libsdl2/VisualC/tests/testgesture/testgesture_VS2013.vcxproj.user
3rdParty/libsdl2_image.vcxproj.user
/3rdParty/libsdl2_ttf/lib/x86/test
